@model bansach.Models.GopY

@{
    ViewBag.Title = "Chitietgopy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiet gop y</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Nội dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungGopY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "GopY")
</p>
