
@model IEnumerable<bansach.Models.KhachHang>

@{
    ViewBag.Title = "Khach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ KHÁCH HÀNG</h2>

@*<p>
    @Html.ActionLink("Tạo mới", "Themkhachhang")
</p>*@
<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Xóa", "XoaKhachHang", new { id = item.MaKH })
            </td>
        </tr>
    }

</table>

