
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h4 style="color:red;text-align:center">@ViewBag.Thongbao</h4>
<table align="center">
    <h3 style="text-align:center">Đăng nhập</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Tên đăng nhập:</td>
            <td>@Html.TextBox("TenDN")@ViewData["Loi1"]</td>
        </tr>
        <tr style="height:40px">
            <td>Mật khẩu:</td>
            <td>@Html.Password("Matkhau")@ViewData["Loi2"]</td>
        </tr>
        <td style="color:white;text-align:center">@Html.ActionLink("Tạo tài khoản mới", "DangKy", "NguoiDung")</td>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="ĐĂNG NHẬP">
            </td>
        </tr>
    }
</table>

